* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: 0.2s linear;
}

html {
  font-size: 78%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 5rem;
}

:root {
  --main-color: #ebf3e8;
  --container-color: #04364a;
  --section1: #ebf3e8;
  --section2: #cedfc4;
  --section3: #ebf3e8;
  /* --font-color: #3a4d39; */
  /* --header-color:#85a183; */
  --header-color: #176b87;
  --btn-color: #638889;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--container-color);
  border-radius: 5rem;
}

body {
  min-height: 100vh;
  background-color: #cbd2d8e5;
  /* background-image: url("../img/palm_tree.jpg"); */
  /* backdrop-filter: blur(px); */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  background-size: 100%;
}

.navbar .container-fluid a.navbar-brand img {
  width: 190px;
  height: 50px;
  margin-left: 20%;
}
.navbar {
  background-color: var(--container-color);
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.068);
}
.navbar .navbar-nav .nav-link {
  color: var(--section3);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--section2);
  text-decoration: none;
  font-size: 19px;
  transition: 0.3 all;
}

/*End Navbar*/

/*Start about*/
.all_cont {
  margin-top: 50px;
}
.about {
  background-color: var(--section1);
  overflow: hidden;
  /* height: 80vh; */
}

.heading-section {
  width: 20%;
  height: 45px;
  /* vertical-align: middle; */
  font-size: 25px;
  text-align: center;
  margin: 8px auto;

  background-color: var(--container-color);
  padding: 5px;
  color: var(--section1);
  position: relative;

  transition: all 0.4s;
}

.heading-section::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--container-color);
  border-radius: 50%;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  left: -20px;

  transition: all 0.4s;
}

.heading-section::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--container-color);

  border-radius: 100%;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  right: -20px;

  transition: all 0.4s;
}

.heading-section:hover::after {
  right: 0;
  background-color: var(--section2);
}

.heading-section:hover::before {
  left: 0;
  background-color: var(--section2);
}

.heading-section:hover {
  border-radius: 15px;
  opacity: 0.95;
  cursor: default;
}

.about .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: 100%;
  margin-top: 30px;
}
.about .container .about-content {
  flex: 1;
  width: 500px;
  margin: 100px 25px;
  animation: fadeInUp 2s ease;
}
.about .container .about-content h3 {
  color: var(--font-color);
  font-size: 28px;
  margin: 20px auto;
}
.about .container .about-content p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 40px;
}
.about .container .about-content a.about-button {
  /* background-image: linear-gradient(125deg, #5ec59f,#88d9db); */
  background-color: var(--container-color);
  color: var(--main-color);
  border-color: var(--container-color);
  padding: 8px 30px;
  transition: all 0.5s;
  font-size: 18px;
}
.about .container .about-content a.about-button:hover {
  text-decoration: none;
  /* letter-spacing: 2px; */
  transform: scale(1.1);
}
.about .about-img {
  flex: 1;
  width: 400px;
  height: 50%;
  /* margin: 50 auto; */
  animation: fadeInRight 2s ease;
}

.about .about-img img.about-image {
  width: 95%;
  height: 80%;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .heading-about h2 {
    font-size: 45px;
    margin-top: 30px;
  }
  .about {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    /* margin: 0px; */
    padding: 0px 40px;
  }
  .about-content {
    width: 100%;
    /* margin: 35px 0px; */
  }
  .about-content h3 {
    font-size: 30px;
  }
  .about-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-content .about-button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .about-img {
    width: 100%;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*End About*/
