* {
  margin: 0;
  padding: 0;
  font-family: "Cairo";
  transition: 0.5s all;
  box-sizing: border-box;
}

:root {
  --main-color: #ebf3e8;
  --container-color: #04364a;
  --section1: #ebf3e8;
  --section2: #d2e3c8;
  --section3: #ebf3e8;
  /* --font-color: #3a4d39; */
  /* --header-color:#85a183; */
  --header-color: #176b87;
  --btn-color: #638889;
}

body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  background: #8360c3;
  background: -webkit-linear-gradient(to left, #2ebf91, #6062c3);
  background: linear-gradient(to left, #2ebf91, #3a78c9);
}

.container {
  background-color: var(--container-color);
  color: #fff;
  max-width: 600px;
  padding: 35px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 150px auto;
}

button.btn {
  width: 100%;
  font-size: 19px;
  /* text-align: center;
    justify-content: center; */
  margin-left: 70px;
  background-color: #a8c7cf;
  color: var(--container-color);
  border: var(--main-color);
  /* background-image: linear-gradient(125deg, #7bc9ac,#53a0a1);
      border-color: var(--container-color); */
}

button.btn:hover {
  width: 100%;
  color: var(--section2);
  font-weight: bold;
  background-color: var(--btn-color);
  /* background-image: linear-gradient(125deg, #7bc9ac,#53a0a1);
      border-color: var(--container-color); */
}

.form-label {
  color: var(--section2);
  font-size: 1.3rem;
}

h1 {
  color: var(--font-color);
}

.link {
  font-style: italic;
  text-align: center;
  width: 100%;
}

/* a {
    color: var(--font-color);
  } */
a {
  color: var(--container-color);
  border: #679bbe 2 solid;
  background-color: #8bb0b9;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  padding: 7px 16px;
  margin: 5px 0px 0px 104px;
  border: none;
  width: 330px;
  cursor: pointer;
}

a:hover {
  /* color: #be9667; */
  /* font-size: large; */
  /* width: 100%; */
  color: var(--section2);
  font-size: 19px;
  font-weight: bold;
  background-color: var(--btn-color);
}

#inputGroupPrepend {
  background-color: #e6eef0;
  width: 60px;
  font-size: 23px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#inputGroupPrepend:hover {
  cursor: pointer;
  filter: opacity(60%);
  color: black;
  font-weight: bold;
}
